<h2> Events</h2>
<hr>

<div  class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">
     <h4>Filter:</h4>
    </label>
    <input
     type="text"
     class="form-control mr-2"
     placeholder="Search"
     [(ngModel)]="listFilter"
     >
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">

    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm"
        (click)="showImage()">
        <i class="{{!hideImage ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
          {{!hideImage ? 'Hide' : 'Show'}}
        </button>
      </th>
      <th>#</th>
      <th>Theme</th>
      <th>Local</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of filteredEvents">
      <td>
        <img [collapse]="hideImage"
             [isAnimated]="true"
          src="/assets/{{event.imageUrl}}"
          [style.width.px]="widthImage"
          [style.margin.px]="marginImage"
          >
      </td>
      <td>{{event.count}}</td>
      <td>{{event.theme}}</td>
      <td>{{event.local}}</td>
      <td>{{event.date | DateFormatPipe}}</td>
      <td>{{event.peopleAmount}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Update">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Delete" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h5>Events not found</h5>
      </td>
    </tr>
  </tfoot>
</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to delete?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
